{% extends "base.html" %}

{% block breadcrumb %}<a href="http://{{ host }}/genes/">Genes</a> / <strong>{{ gene.gene_short_name }}</strong>{% endblock %}

{% block content %}

<h1>Overview for {{ gene }} - {{ gene.locus }}</h1>

{% for dataset in datasets %}

<h2>{{ dataset.name }}</h2>

<p><img src="/genes/{{ gene.pk }}/dataset/{{ dataset.pk }}/graph.png" /></p>

{% if dataset.tss %}

<p><a href="/genes/{{ gene.pk }}/dataset/{{ dataset.pk }}/tss">Tss usage</a></p>

{% endif %}

{% if dataset.isoform %}

<p><a href="/genes/{{ gene.pk }}/dataset/{{ dataset.pk }}/isoforms">Isoform Expression</a></p>

{% endif %}

<p><a href="/genes/{{ gene.pk }}/dataset/{{ dataset.pk }}/similar">Similar Genes</a> (Warning - this may take a long time)</p>

{% endfor %}

<p><a href="/genes">Back to gene search</a></p>

{% endblock %}