{% extends "base.html" %}

{% block breadcrumb %}<a href="http://{{ host }}/genes/">Genes</a> / <a href="http://{{ host }}/genes/{{ gene.gene_short_name }}">{{ gene.gene_short_name }}</a> / <strong>Isoforms</strong>{% endblock %}

{% block content %}

<h1>TSS usage for {{ gene.gene_short_name }} - {{ gene.locus }}</h1>

<p><img src="/genes/static/tss/{{ gene.gene_short_name }}.png" /></p>

<h2>{{ gene.gene_short_name }} TSS groups</h2>

<table>

<tr>

<th>TSS ID</th>

<th>Isoforms</th>

{% for t in tss %}

<tr>

<td>{{ t.TSS_group_id }}</td>

<td>
{% for i in t.isoform_set.all %}

<a href="http://www.ensembl.org/Mus_musculus/Search/Details?species=Mus_musculus;idx=Transcript;end=1;q={{ i.nearest_ref_id }}">{{ i.nearest_ref_id }}</a><br />

{% endfor %}
</td>

</tr>


{% endfor %}

</table>

<p><a href="/genes/{{ gene.gene_short_name }}">Back to gene {{ gene.gene_short_name }}</a></p>

<p><a href="/genes">Back to gene search</a></p>

{% endblock %}