{% extends "base.html" %}

{% block breadcrumb %}<a href="{% url gene.views.index %}">Genes</a> / <a href="{% url gene.views.detail gene.pk %}">{{ gene }}</a> / <strong>Isoforms</strong>{% endblock %}

{% block content %}

<h1>Isoform expression for {{ gene.gene_short_name }} - {{ gene.locus }}</h1>

<p><img src="{% url graph.views.isoform gene.pk dataset.pk %}" /></p>

<h2>{{ gene.gene_short_name }} Isoforms</h2>

{% for isoform in isoforms %}

<p><a href="http://www.ensembl.org/Mus_musculus/Search/Details?species=Mus_musculus;idx=Transcript;end=1;q={{ isoform.name }}">{{ isoform.name }}</a></p>

{% endfor %}

<p><a href="{% url gene.views.detail gene.pk %}">Back to gene {{ gene }}</a></p>

<p><a href="{% url gene.views.index %}">Back to gene search</a></p>

{% endblock %}