{% extends "base.html" %}

{% block breadcrumb %}<a href="{% url gene.views.index %}">Genes</a> / <strong> Search Matches </strong>{% endblock %}

{% block nav %}
		<li class="first"><a href="{% url gene.views.index %}">Search Genes</a></li>
		<li class="active"><a href="{% url list.views.index %}">View Gene Lists</a></li>
		<li><a href="{% url list.views.upload %}">Upload Gene List</a></li>
		<li><a href="{% url django.contrib.auth.views.logout_then_login %}">Logout</a></li>
		{% endblock %}

{% block content %}


<h1>Multiple genes matched your search:</h1>

<table>

<tr>

<th>Gene Name</th>

<th>Gene Name Set</th>

</tr>

{% for name in names %}

<tr>
<td><a href="{% url gene.views.detail name.gene.pk %}">{{ name.name }}</td>
<td><a href="{% url gene.views.detail name.gene.pk %}">{{ name.gene_name_set.name }}</td>
</tr>

{% endfor %}

</table>

{% endblock %}