{% extends "base.html" %}

{% block breadcrumb %}<a href="{% url gene.views.index %}">Genes</a> / <a href="{% url gene.views.detail gene.pk %}">{{ gene }}</a> / <strong> Similar Genes </strong>{% endblock %}

{% block content %}


<h1>Genes similar to {{ gene }}</h1>

<table>

<tr>

<th>Gene Name</th>

</tr>

{% for similar_gene in similar %}

<tr>
<td><a href="{% url gene.views.detail similar_gene.pk %}">{{ similar_gene }}</td>
</tr>

{% endfor %}

</table>

<p><a href="{% url gene.views.detail gene.pk %}">Back to gene {{ gene }}</a></p>

{% endblock %}