{% extends "base.html" %}

{% block breadcrumb %}<a href="{% url gene.views.index %}">Genes</a> / <a href="{% url gene.views.detail gene.pk %}">{{ gene }}</a> / <strong>Isoforms</strong>{% endblock %}

{% block content %}

<h1>TSS usage for {{ gene }} - {{ gene.locus }}</h1>

<p><img src="{% url graph.views.tss gene.pk dataset.pk %}" /></p>

<h2>{{ gene }} TSS groups</h2>

<table>
<tr>

<th>TSS ID</th>

<th>Isoforms</th>

</tr>

{% for tss in tss_groups %}

<tr>

<td>{{ tss.name }}</td>

<td>
{% for isoform in tss.isoforms %}

<a href="http://www.ensembl.org/Mus_musculus/Search/Details?species=Mus_musculus;idx=Transcript;end=1;q={{ isoform.name }}">{{ isoform.name }}</a><br />

{% endfor %}
</td>

</tr>


{% endfor %}

</table>

<p><a href="{% url gene.views.detail gene.pk %}">Back to gene {{ gene }}</a></p>

<p><a href="{% url gene.views.index %}">Back to gene search</a></p>

{% endblock %}