{% extends "base.html" %}

{% block breadcrumb %}<a href="{% url list.views.index %}">Gene Lists</a> / <strong>Upload Gene List</strong>{% endblock %}

{% block nav %}
		<li class="first"><a href="{% url gene.views.index %}">Search Genes</a></li>
		<li><a href="{% url list.views.index %}">View Gene Lists</a></li>
		<li class="active"><a href="{% url list.views.upload %}">Upload Gene List</a></li>
		<li><a href="{% url django.contrib.auth.views.logout_then_login %}">Logout</a></li>
		{% endblock %}

{% block content %}


<h1>Uploaded a list of {{ genes_matched }} genes</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<p>{% for gene in gene_list %} {{ gene }}, {% endfor %}</p>

<h2>{{ multiple_matched }} genes matched multiple gnes:</h2>

<p>{% for gene_name in found_multiple %} {{ gene_name }}, {% endfor %}</p>

<h2>{{ not_matched }} genes could not be found:</h2>

<p>{% for gene_name in not_found %} {{ gene_name }}, {% endfor %}</p> hello - {{ list }}

<p><a href="{% url list.views.detail 1 %}">Continue to Gene List</a></p>

{% endblock %}